# Dependencias de Node.js
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Archivos generados por Vite / builds
dist/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE / editores
.vscode/*
!.vscode/settings.json
.idea/

# Archivos temporales
*.tmp
*.temp